# Python / Backend Ayarları
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
backend/.env

# MacOS Dosyaları
.DS_Store

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

node_modules/
.venv/
.env
