# KYK Data Analysis Backend Environment Variables Template
# Copy this file to '.env' and fill in the values

# FastAPI settings
FRONTEND_URL=http://localhost:3000

# LLM Provider Selection
# Options: claude, openai, mistral, ollama
LLM_PROVIDER=claude

# API Keys (Fill the one you selected in LLM_PROVIDER)
ANTHROPIC_API_KEY=""
OPENAI_API_KEY=""
MISTRAL_API_KEY=""

# If using local ollama
# OLLAMA_HOST=http://localhost:11434
